<div class="text-center announce-card container shadow rounded border border-primary shape-color mb-5">
    <h1>Política de privacidade</h1>
    <h2>última atualização 14/08/2022</h2>


    <h3>Informações Gerais</h3><hr>
    <p>
    Esta política de privacidade, aplicável ao website ServFinder, rege quando você, usuário cadastrado que independentemente 
    do tipo de conta, utiliza o serviço ofertado pelo mesmo. Esta política de privacidade é aplicada aos dados pessoais recolhidos e processados 
    através do website da ServFinder, sendo ele acessado via computador, dispositivo móvel ou qualquer outro dispositivo com acesso à internet.
    </p>

    <p>
    Segundo a LGPD, no Artigo 5°, Inciso I: Dado pessoal é qualquer informação relacionada a pessoa que permite sua identificação, 
    geralmente são dados como nome, RG, CPF, telefone e etc., além desses dados, no meio digital também existem dados como localização de GPS 
    (Global Positioning System), fotos, endereço de IP (Internet Protocol). Desse modo, a ServFinder pode coletar seus dados pessoais quando 
    você se cadastra no website para usar as funcionalidades providas pelo mesmo, e em algum momento pode ser pedido dados referentes a sua 
    geolocalização.
    </p>

    <p>
    Nós requeremos explicitamente no ato de criação de sua conta, assim como requisitado no Artigo 7°, Inciso I, o seu consentimento para tratar 
    e coletar certos dados pessoais utilizados neste website, então note que qualquer dado utilizado por nós sempre será feito com o seu 
    consentimento prévio. Caso você não tenha fornecido tal consentimento para a utilização dos seus dados, ou caso você deseje o término do 
    tratamento de seus dados ou até a exclusão de seus dados, basta entrar em contato com a ServFinder (seja pelos meios explicitados na seção 
    “Como Entrar em Contato Conosco”, ou pelo próprio website) que ocorrerá a interrupção/remoção imediata dos seus dados, desde que a execução 
    dessas medidas não prejudique a operacionalidade da aplicação.
    </p>

    <p>
    Esta política de privacidade possui as informações específicas em relação à coleta, ao uso, ao tratamento e ao armazenamento de dados 
    pessoais. Esta política também indica os meios para entrar em contato com a ServFinder e poder sanar qualquer dúvida ou demanda referente ao 
    tratamento dos seus dados, desta política de privacidade ou até mesmo do website da ServFinder. É importante que você leia com atenção esta 
    política de privacidade, porque, utilizar os nossos serviços implica dizer que você concorda com tudo que está exposto aqui. Além disso, 
    o presente documento está em constante evolução, junto com o serviço ofertado, logo ele pode sofrer alterações para atender às novas demandas 
    regulatórias, razão pela qual os usuários devem consultar esta política regularmente.
    </p>

    <h3>Como Entrar em Contato Conosco</h3><hr>
    <p>
    Se existirem dúvidas sobre a utilização do website, sobre a política de privacidade, ou até mesmo dúvida sobre seus dados, entrar em contato com:<br>
    Via e-mail para: ServFinder@gmail.com<br>
    Via telefone para: (xx) x xxxx-xxxx<br>
    </p>

    <h3>Dados Pessoais Coletados Por Nós</h3><hr>
    <p>
    No ato de criação de sua conta, coletamos informações pessoais que serão providas por você. 
    Obrigatoriamente nós precisamos do seu: Nome, endereço residencial e endereço de e-mail. Sem essas informações, 
    poderemos não ser capazes de fornecer as funcionalidades básicas dos serviços que ofertamos. Como dados Opcionais 
    temos: telefone e dados de geolocalização, assim como sua localização aproximada. A informação de telefone e a 
    geolocalização do usuário podem ser fornecidos ou não, se forem fornecidos, podem ser ocultados (no caso do telefone) 
    ou removidos (no caso da geolocalização) pelo próprio usuário no website caso não deseje o seu compartilhamento no futuro 
    (ocultar os dados de geolocalização poderão acarretar o bloqueio de alguns serviços do website), em adição a isso temos o 
    endereço de e-mail, que mesmo obrigatório, pode ser ocultado assim como os dados citados.
    </p>

    <p>
    Nós compartilhamos seus dados com terceiros: ao utilizar o serviço de criação de serviço do site, onde ao fechar 
    negócio com outro usuário, seus dados de contato e localização poderão entregues a outra parte para poder ser feito 
    o contato, valendo lembrar que sua localização (endereço residencial) será compartilhada de forma obrigatória, mas 
    os de contato dependem da escolha do próprio usuário. Seus dados também são compartilhados com a empresa Heroku 
    (uma plataforma de nuvem como serviço), onde concentramos a infraestrutura do nosso serviço, mas os dados são 
    utilizados somente pela ServFinder.
    </p>

    <h3>Como Usamos as Informações que Coletamos</h3><hr>
    <p>
    A ServFinder utiliza os dados pessoais dos usuários coletados previamente para que o usuário possa desfrutar 
    das funcionalidades disponibilizadas no website, como por exemplo:
    </p>
    <ul>
        <li>Permitir o acesso do usuário a determinados conteúdos da plataforma, exclusivo para usuários cadastrados.</li>
        <li>Fornecer suas informações de contato para outros usuários.</li>
        <li>Fornecer suas informações logradouros para o usuário selecionado a realizar seu serviço</li>
        <li>Mostrar usuários próximos a sua localização.</li>
        <li>Prevenir atividades ilegais no nosso website</li>
        <li>Proteger a segurança ou integridade deste website</li>
        <li>Ou de qualquer forma que seja requisitado ao usuário, ou cabível por lei.</li>
    </ul>

    <p>
    Além dessas ações, seus dados pessoais podem ser tratados em ocasiões especiais, como explicitado na LGPD no Artigo 11º, inciso II:
    “Sem fornecimento de consentimento do titular, nas hipóteses em que for indispensável para:<br>
    a) cumprimento de obrigação legal ou regulatória pelo controlador;<br>
    b) tratamento compartilhado de dados necessários à execução, pela administração pública, de políticas públicas previstas em leis ou regulamentos;“
    </p>

    <h3>Acesso e Controle aos Dados</h3><hr>
    <p>
    Caso queira corrigir, atualizar, excluir, ou requerer a portabilidade de seus dados pessoais que foram recolhidos no website, 
    você pode entrar em contato conosco através da sessão anterior de “Como entrar em contato conosco”, ou pelo próprio site, 
    que de forma facilitada possibilita todas essas operações sobre seus dados (com exceção da portabilidade dos dados, que deve 
    ser requerido exclusivamente através de nossos meios de comunicação oficiais), além de alterar seus consentimentos, 
    que ao remove-los, você pode não ter acesso a funcionalidades do website, mas isso não interfere na fidelidade e 
    segurança no tratamento dos dados já processados.
    </p>

    <p>
    A ServFinder manterá seus dados pessoais armazenados até a solicitação de exclusão deles realizada por parte 
    do usuário, amparado pela LGPD no Artigo 15°, Inciso III, inclusive também no exercício de seu direito de 
    revogação do consentimento conforme disposto no parágrafo 5º do Artigo 8º desta Lei. Vale lembrar que você 
    como usuário tem total direito segundo a LGPD no Artigo 55-J, inciso V:” apreciar petições de titular contra 
    controlador após comprovada pelo titular a apresentação de reclamação ao controlador não solucionada no prazo 
    estabelecido em regulamentação;” ou seja, de apresentar uma reclamação a uma autoridade de proteção de dados 
    sobre nossa coleta, uso e processamento de seus dados pessoais, caso a empresa não lhe de a assistência 
    necessária.
    </p>

    <h3>Transferência de Dados Pessoais</h3><hr>
    <p>
    Os dados pessoais coletados e tratados podem ser armazenados no Brasil ou em qualquer outro país onde 
    concentramos nossas operações. Nós garantimos que toda nossa operação assegura níveis de segurança adequados 
    para proteger seus dados e que estão em conformidade com a LGPD.
    </p>

    <h3>Notificação de Violação</h3><hr>
    <p>
    Segundo o Artigo 42° da LGPD: a ServFinder assume total responsabilidade por manter e gerenciar os dados 
    coletados pelos seus usuários, garantindo a segurança e proteção de seus dados pessoais, incluindo mecanismos 
    de prevenção a acessos não autorizados aos seus dados, além de manter relatórios de incidentes que objetivam 
    evitar ou mitigar a ocorrência de violações de dados pessoais. Ao haver o conhecimento do comprometimento de 
    dados pessoais de usuários da ServFinder, os usuários lesados serão relatados e informados dos dados 
    comprometidos de acordo com os pré-requisitos legais e/ou contratuais aplicáveis. Não sendo cabível a 
    responsabilidade a ServFinder quando o dano é decorrente de culpa exclusiva do titular dos dados ou de 
    terceiros, segundo o Artigo 43°, Inciso III da lei supracitada.
    </p>

    <h3>Coleta e Uso de Dados Pessoais de Menores</h3><hr>
    <p>
    A Serv Finder não coleta ou processa dados pessoais de menores de 13 anos, sendo necessário o consentimento e 
    monitoramento por um responsável para o compartilhamento de dados do menor, mas a ServFinder se ausenta de quaisquer problemas decorrentes 
    de tal compartilhamento.
    </p>
</div>