<div class="text-center announce-card container shadow rounded border border-primary shape-color mb-5">
    <h1>TERMOS DE USO — ServFinder</h1>
    <p>
    Este Termo de Uso diz respeito à relação entre o <strong>“Website”</strong>, de titularidade da ServFinder <strong>(“EMPRESA”)</strong>, 
    e você, usuário dos serviços <strong>(“USUÁRIO”)</strong>, que rege o seu direito de uso dos sites e seus serviços ofertados.
    </p>

    <p>
    A plataforma da ServFinder oferece um meio online onde os usuários possam publicar, oferecer, buscar e 
    realizar serviços. Os usuários que publicam e oferecem serviços são chamados de <strong>“Contratantes”</strong> e os que 
    buscam e realizam serviços são chamados de <strong>“Prestadores”</strong>. Os Contratantes que porventura necessitam da 
    realização de um serviço (serviços diversos como: carpintaria, jardinagem, limpeza e etc.) podem criar uma 
    oferta de realização de serviço (cada oferta de realização de serviço pode ser chamada de <strong>"Anúncio"</strong>). Ao 
    utilizar nosso website, você deve concordar com nossa Política de Privacidade e este Termo de Uso, caso 
    contrário é recomendado suspender a navegação e suas atividades no website.
    </p>

    <p>
    O website funciona como uma forma de conectar Contratantes que precisam da realização de um serviço e 
    prestadores que têm mão de obra a oferecer, apenas fazendo a ponte de comunicação entre as partes, logo 
    nos abstemos da responsabilidade na decorrência de quaisquer eventuais problemas, seja por parte do contratante 
    ou do prestador em questão.
    </p>

    <p>
    O termo poderá ser editado a qualquer momento, mas na ocorrência de mudanças, todos os usuários serão 
    notificados, seja pelo próprio website ou por meio das informações de contato que tivermos em nosso cadastro.
    Continuar utilizando nossos serviços depois das alterações, significa que você concorda com as alterações 
    realizadas nas nossas políticas. Caso, após as alterações, você não esteja de acordo com os novos termos ou 
    modificações do mesmo, é recomendado que você encerre seu acesso ou proceda com a exclusão de sua conta no 
    website.
    </p>

    <h3>Termo do Prestador</h3>
    <h4>1.Busca e Inscrição</h4>
    <p>
    <strong>1.1 Busca:</strong> Você pode buscar no website por serviços que possa realizar para um Contratante. Você pode usar 
    critérios de busca por tipo de serviço, preço e pela proximidade a sua localidade. O resultado pode variar de 
    acordo com a utilização ou não de cada critério de busca.
    </p>

    <p>
    <strong>1.2 Inscrição:</strong> Após encontrar um anúncio ao qual você deseja prestar seu serviço, você pode 
    se inscrever para indicar interesse na realização desse serviço. Após a data limite do anúncio, ou encerramento 
    do mesmo por parte do contratante, você ficará ciente se foi escolhido ou não para prestar o serviço. Caso seja
    escolhido, os meios de contato do contratante serão compartilhados com você e poderá ser feito o contato 
    direto com ele, ou em outros casos, será provido uma sala de bate-papo online ao qual vocês poderão se 
    comunicar.
    </p>

    <h4>2. Responsabilidades e Riscos</h4>
    <p>
    <strong>2.1 Suas Responsabilidades:</strong> Ao fechamento do anúncio e seleção para o serviço, você é 
    inteiramente responsável por seus atos e qualquer omissão que venha a ocorrer de sua parte, ou seja:
    </p>

    <ul>
        <li>Você será inteiramente responsável pela execução do serviço.</li>
        <li>Você irá arcar com qualquer prejuízo que venha a ocorrer pela realização do seu serviço.</li>
        <li>Você será responsável por qualquer infração que venha a ser cometida na realização de seu serviço e suas implicações legais.</li>
    </ul>

    <p>
    <strong>2.2 Riscos:</strong> Ao utilizar nossos serviços e realizar inscrição em um anúncio de um contratante, você está ciente 
    de que as atividades que irá realizar podem apresentar riscos e que você é inteiramente responsável por qualquer
    risco proveniente da realização do serviço ou utilização de nosso website. Isso quer dizer que é sua 
    responsabilidade analisar o anúncio ofertado, suas implicações e só aceitá-lo se estiver de acordo com o 
    exposto. Por exemplo: se um serviço exige se expor ao perigo (como mexer em redes elétricas, manusear 
    ferramentas e maquinários perigosos, mexer com animais e etc.) é de sua inteira responsabilidade assumir o 
    risco ao aceitar a realização do serviço.
    </p>

    <h3>Termo do Contratante</h3>
    <h4>3 Criação de Anúncios e Seleção de Prestadores</h4>
    <p>
    Como contratante, você é capaz de criar anúncios para a realização de serviços de seus interesses, você deve 
    descrever com clareza o serviço que você necessita, para assim facilitar para pessoas que possivelmente irão 
    prestar o serviço o entendimento do que deve ser feito. Você deve definir o valor pela realização do serviço, 
    além de definir ou não uma data para o encerramento automático do anúncio, caso não defina, ele só poderá ser 
    encerrado manualmente. No encerramento do anúncio, deverá ser feita a análise e escolha do prestador que irá 
    realizar o serviço, lá você poderá visualizar um breve comentário deixado por cada prestador no ato de 
    inscrição, além de poder ver a nota dele no website.
    </p>

    <h4>4. Responsabilidades e Riscos</h4>
    <p>
    <strong>4.1 Sua responsabilidade:</strong> É de sua inteira responsabilidade informações que você compartilhar na criação de um 
    anúncio, além da veracidade do que lá está descrito, ou seja:
    </p>
    <ul>
        <li>Você é inteiramente responsável pelo que coloca nas informações do anúncio.</li>
        <li>Você é responsável por qualquer problema que venha a ocorrer na realização do serviço e suas implicações legais.</li>
        <li>Você é responsável por auxiliar o prestador de serviço.</li>
        <li>Você é responsável por finalizar e realizar o procedimento de pagamento do prestador após a realização do serviço.</li>
    </ul>
    <p>
    <strong>4.2 Riscos:</strong> Ao utilizar nossos serviços e realizar criação de um anúncio, você está ciente de 
    que as atividades que irá realizar podem apresentar riscos e que você é inteiramente responsável por qualquer 
    risco proveniente da realização do serviço ou utilização de nosso website. Você é responsável por definir seus
    preços e pelo fornecimento de informações do serviço, além do estabelecimento de regras e requisitos para 
    realização do mesmo e do pagamento do prestador. Isso quer dizer que você concorda que analisou todo website e 
    suas regras que possam se aplicar ao uso e criação de anúncios e que você não conta com nenhuma representação
    legal feita pela ServFinder.
    </p>

    <h3>Termos Gerais</h3>
    <h4>5.Usuário</h4>
    <p>
    <strong>5.1 Utilização:</strong> A utilização deste website atribui automaticamente a identidade de usuário e implica a 
    aceitação integral de todas as orientações e condições contidas nestes termos
    </p>

    <p>
    <strong>5.2 Avaliações:</strong> Depois da confirmação do término da realização do Anuncio por ambas as partes, os Contratantes 
    e Prestadores terão a oportunidade de avaliar uns aos outros. Sua Avaliação deve ser objetiva e não pode conter
    linguajar ofensivo ou discriminatório e muito menos deve difamar o usuário. As Avaliações são automáticas e 
    não são verificadas pela ServFinder, logo não há garantias de exatidão ou da não ocorrência de problemas, mas 
    em casos de descumprimento ao que foi dito, pode ser feito o contato com a empresa e as devidas medidas serão 
    tomadas.
    </p>

    <p>
    <strong>5.3 Adesão</strong> em conjunto com a Política de Privacidade: A utilização deste website acarreta a adesão à presente 
    Política de Uso e à versão mais atualizada da Política de Privacidade de ServFinder.
    </p>

    <p>
    <strong>5.4 Condições de acesso:</strong> O acesso ao website da ServFinder possui caráter gratuito e exige inscrição prévia ou 
    registro com login e senha próprios para acesso, para, assim, usufruir das funcionalidades. É de total 
    responsabilidade do usuário fornecer apenas informações corretas, autênticas, válidas, completas e atualizadas,
    bem como não divulgar o seu login e senha para terceiros. Menores de 18 anos, ou pessoas que não possuem plena
    capacidade civil, deverão ter o consentimento de seus responsáveis legais para a utilização dos serviços 
    ofertados no website, sendo de total responsabilidade do usuário de um eventual acesso não autorizado pelo 
    seu responsável. É responsabilidade do usuário garantir que seus dispositivos sejam compatíveis e possuam os 
    recursos técnicos que permitam o uso da plataforma e seus serviços.
    </p>

    <p>
    <strong>5.5 Comunicação:</strong> Partes deste website oferecem ao usuário a opção de publicar comentários em campos dedicados.
    ServFinder não consente com publicações discriminatórias, ofensivas ou ilícitas, ou ainda infrinjam direitos
    de autor ou quaisquer outros direitos de terceiros. A publicação de quaisquer conteúdos pelo usuário deste 
    website, incluindo, mas não se limitando, a mensagens e comentários, implica licença não-exclusiva,
    irrevogável e irretratável, para sua utilização, reprodução e publicação pela ServFinder em seu website,
    plataformas e aplicações de internet, ou ainda em outras plataformas, sem qualquer restrição ou limitação.
    </p>

    <p>
    <strong>5.6 Cookies:</strong> Cookies são informações armazenadas diretamente no computador que você está utilizando. Os cookies
    permitem a coleta de informações tais como o tipo de navegador, o tempo despendido no website, as páginas 
    visitadas, as preferências de idioma, e outros dados de tráfego anônimos. Nós da ServFinder, utilizamos 
    cookies exclusivamente para proteção de segurança e para facilitar a navegação, não sendo aplicável a outros
    propósitos, logo a utilização deles é de cunho obrigatório. Caso não esteja de acordo, há um procedimento que
    pode ser executado em seu navegador que permite que os cookies sejam automaticamente rejeitados, ou oferece
    a opção de aceitar ou rejeitar a transferência de um cookie específico de um site determinado para o seu
    computador. No entanto, é importante estar ciente de que a redefinição dos cookies pode afetar a sua
    experiência de navegação. Neste sentido, rejeitamos qualquer responsabilidade pelas consequências 
    resultantes do funcionamento limitado deste website provocado pela desativação de cookies no seu 
    dispositivo.
    </p>

    <p>
    <strong>5.7 Dados pessoais:</strong> Durante a navegação, certos dados pessoais serão coletados e tratados por ServFinder.
    As regras relacionadas ao tratamento de dados pessoais estão estipuladas em nossa Política de Privacidade.
    </p>

    <p>
    <strong>6. Propriedade Intelectual:</strong> Todos os elementos, como: a estrutura, logotipos, nomes comerciais, layout, 
    interface, imagens, bancos de dados, de ServFinder são de sua propriedade intelectual ou de seus licenciados, 
    sendo absolutamente vedado o uso sem prévia e expressa permissão, observado o disposto na Lei de Propriedade 
    Industrial (Lei nº 9.279/96), Lei de Direitos Autorais (Lei nº 9.610/98) e Lei de Software (Lei nº 9.609/98), 
    como reserva adequada. O presente termo de uso não concede ao usuário, por meio do uso da plataforma e dos 
    serviços ofertados, nenhum direito de propriedade intelectual.
    </p>

    <p>
    <strong>7. Prazos e alterações:</strong> O funcionamento deste website se dá por prazo indeterminado. O website, no todo ou em
    cada uma das suas seções, pode ser encerrado, suspenso ou interrompido unilateralmente pela ServFinder, 
    a qualquer momento e sem necessidade de prévio aviso aos usuários.
    </p>

    <p>
    <strong>8. Rescisão:</strong> O não cumprimento das obrigações descritas neste documento, poderá ocasionar a rescisão, sem aviso
    prévio, o encerramento imediato e de forma unilateral da sua conta e o bloqueio de todos os serviços ofertados.
    </p>

    <p>
    <strong>9. Contato:</strong> Caso você tenha qualquer dúvida sobre esta Política de Uso, por favor, entre em contato pelo e-mail
    ServFinder@gmail.com.
    </p>

    <p>
    <strong>10. Do foro:</strong> Para a solução de qualquer problema legal resultante da utilização do website da ServFinder e 
    seus serviços, será utilizada na íntegra as leis e os direitos brasileiros. Qualquer ação/contestação judicial
    deve ser apresentada no tribunal da comarca de Teresina-PI, onde a empresa concentra suas operações.
    </p>
<div>