<div class="container shadow rounded welcome-banner border border-primary">
    <h1>Bem Vindo a ServFinder</h1>
    <p>Aqui você pode ecnontrar um serviço que precisa ou realizar um!</p>
    <hr>
    <p>Texto foda explicando algo ai de serviços</p>
    <%= button_to "Entrar", new_user_session_path %>
</div>