/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 */

 //alterar css da aplicação

html,body {
  height: 100%;
}

.icon-navbar-custom{
    display: flex;
    height: 2.2rem
}

#search-navbar{
    width: 30%;
    height: 10%;
}

#user-pill {
    margin-right: 4rem;
}

#sign-up-btn{
    margin-top: 20px;
}

.form-devise{
    width: 40%;
    margin: 10px auto;
}

.centralizar-form-newservice{
    width: 70%;
    margin: 10px auto;
}

.welcome-banner{
    width: 80%;
    height: 70%;
    height: 80vh; 
    overflow:hidden;
    background-image: asset_url('welcome-box-image.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

#sticky-footer {
    flex-shrink: none;
    margin-top: 10px;
    a{
        color: gray;
        text-decoration: none;
    };

    a:hover{
        text-decoration: underline;
        color: black;
    }
} 