<footer id="sticky-footer" class="card-footer text-muted">
  <div class="container text-center">
    <small>Copyright &copy; ServFinder</small>
    <small>·</small>
    <a role="button" href=<%="#{policy_index_path}"%>><small>Política de Pivacidade</small></a>
    <small>·</small>
    <a role="button" href=<%="#{terms_index_path}"%>><small>Termos de Uso</small></a>
  </div>
</footer>