<footer id="sticky-footer" class="card-footer text-muted">
  <div class="container text-center">
    <strong>Copyright &copy; ServFinder</strong>
    <strong>·</strong>
    <a role="button" href=<%="#{policy_index_path}"%> target="_blank"><strong>Política de Pivacidade</strong></a>
    <strong>·</strong>
    <a role="button" href=<%="#{terms_index_path}"%> target="_blank"><strong>Termos de Uso</strong></a>
  </div>
</footer>